* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
}

body {
  background-color: #f4f5f6;
  color: #333;
  height: 4000px;
}

.hidden {
  display: none;
}

.container-xl {
  max-width: 1310px;
}

.nav-1 {
  background-color: #f72210;
}

.nav-2 {
  display: none;
  background-color: #f72210;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 94% 100%, 93% 90%, 0% 90%);
  height: 100px;
}

img[alt="weather-logo"] {
  width: 25px;
  height: 25px;
}

img[alt="newsweek-logo-big"] {
  width: 395px;
  height: 60px;
}

img[alt="newsweek-logo"] {
  display: inline-block;
  width: 131px;
  height: 20px;
}

.fa-user {
  font-size: 2rem;
  color: #fff;
}

.fa-chevron-right {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: 3px 5px;
}

.subscribe-btn {
  background-color: #ffe400;
  font-size: 13px;
  font-weight: 700;
  width: 93px;
  padding: 0 12px;
}

.login {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.weather-info {
  color: #fff;
  font-size: 15px;
}

.date {
  font-size: 16px;
  color: #fff;
}

.big-subscribe-btn {
  background-color: #ffe400;
  font-size: 18px;
  font-weight: 700;
  height: 30px;
  padding: 0 20px 30px 20px;
}

.big-subscribe-btn .fa-chevron-right {
  font-size: 1.5rem;
}

.fa-bars {
  color: #fff;
  font-size: 2rem;
}

.top-nav-bar-list-1 {
  list-style-type: none;
  
}

.top-nav-bar-list-1 li {
  font-size: 19px;
  color: #000;
  font-weight: 700;
  display: inline;
  padding: 2px 7px;
  flex-grow: 1;
  border-right: 1px solid lightgray;
}

.top-nav-bar-list-1 li:hover {
  cursor: pointer;
  color: #f61602;
}

.fa-search {
  font-size: 1.4rem;
}

.top-nav-bar-list-2 {
  list-style-type: none;
}

.top-nav-bar-list-2 li {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  display: inline;
  padding: 2px 15px;
}

.section-title {
  color: rgba(3, 3, 3, 0.5);
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
}

.card-text {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.category {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  color: #f72210;
  padding: 8px 15px;
  font-size: 17px;
  font-weight: 700;
}

main {
  margin-top: 63px;
}

.opinion-author-img {
  width: 63px;
  height: 63px;
}

.opinion-title {
  font-size: 17px;
  font-weight: 700;
}

.opinion-author {
  font-size: 14px;
  color: #555;
  margin-bottom: 0;
}

.deco::after,
.deco::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}

.c-vs {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/32px "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 6px auto;
}

.more-stories-img {
  display: block;
  width: 95px;
  height: 95px;
}

.more-stories-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}

.my-turn-txt h5,
.cult-n-travel-txt h5 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: rgba(3, 3, 3, 0.5);
}

.culture-travel a {
  color: #333;
  background-color: rgba(170, 160, 160, 0.596);

}

.sponsored-insight a {
  color: #3581f4;
  background-color: #eee;
  font-size: 1.7rem;
  line-height: 1.6rem;
  font-weight: 700;

}

.sign-up-box {
  width: 290px;
  height: 186px;
  margin: 0 auto;
  background-color: #f4f5f6;
}

.sign-up-box-content {
  width: 248px;
}

.n-icon {
  display: inline-block;
  width: 29px;
  height: 28px;
  background: url("/image/newsweek-n-icon.svg") center/contain no-repeat #f72210;
}

.email-input {
  width: 248px;
  height: 32px;
  border: 1px solid #d9d9d9;
  margin-top: 15px;
}

.sign-up-box-title {
  font-size: 19px;
  color: #333;
  font-weight: 800;
  line-height: 20px;
}

input[type="email"]::-webkit-input-placeholder {
  color: #555;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.free-sign-up {
  background-color: #f61602;
  width: 248px;
  height: 32px;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  margin-top: 10px;
}

.magazine-section {
  margin-top: 20px;
}

.magazine-image {
  display: block;
  width: 100%;
}

.article-index {
  background-color: #f61602;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 3px 6px;
}

.article-topic {
  background-color: #fff;
  color: #f61602;
  font-weight: 700;
  font-size: 16px;
  padding: 3px 8px;
}

.magazine-article-title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  line-height: 21px;
}

.article-summary {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 17px;
}

.small-image {
  display: block;
  width: 95px;
  height: 80px;
}

.small-article-title {
  font-size: 17px;
  font-weight: 700;
  color: #000;
  line-height: 18px;
}

.current,
.previous {
  width: 170px;
  height: 228px;
}

.current {
  position: absolute;
  top: 13px;
  left: 80px;
}

.previous {
  position: relative;
  left: -41px;
  top: 0;
}

.overlay-text {
  position: absolute;
  top: -26px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.subscribe-section {
  background-color: #f4f5f6;
}

.subscribe-section h5 {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}

.subscribe-header,
.section-header,
.newletter-header {
  color: #f72210;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
}

.overlap-images h3 {
  position: absolute;
  bottom: 10px;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
}

.subscribe-btn2 { 
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 700;
  background-color: #f72210;
  align-items: center !important;
  color: #fff;
  display: block;
}

.newsletter-form input {
  width: 100%;
  height: 38px;
  border: 1px solid #e0e1e1;
}

.newsletter-sub-heading {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
}

.newsletter-sub-text {
  font-size: 1.5rem;
  line-height: 2.1rem;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .magazine-image {
    height: 14vw;
  }

  .substribe-section {
    display: flex;
    flex-wrap: wrap;
  }

  .overlap-images {
    width: 280px;
  }

  .overlay-text {
    top: 0;
  }

}

@media screen and (min-width: 1024px) {
  .nav-1 {
    display: none;
  }
  
  .nav-2 {
    display: block;
  }

  .nav-links {
    display: block;
  }
}